<% include header %>
<section class="main">
	<h1>Fly Sun Villas</h1>
	<img src="/img/fly-sun-villas.png" alt="Fly Sun Villas">
	<div class="container">
		<div class="row">
			<p>Russian Index</p>
			<p>Большая часть текста сделана из разделов 1.10.32–3 книги Цицерона На грани Добра и Зла (De finibus bonorum et malorum). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit является первой известной человечеству версией (Больше нет никого из тех, кто любит скорбь, поскольку это горе и поэтому хочет заполучить это). Находка присваивается Ричарду МакКлинтоку (Richard McClintock), филологу, руководителю публикаций в колледже Хампден-Сидней, что в Вирджинии; он искал citings consectetur в классической латинской литературе, термин, который встречается удивительно редко в том литературном тексте.</p>
		</div>
	</div>
	<div class="row">
	    <% propertys.reverse().slice(-9).forEach(function(property){ %>
	        <div class="col-sm-6 col-md-4 role">
	        	<a href="/property/<%= property._id %>">
		        	<div class="image">
		                  <img src="https://flysunvillas.s3.amazonaws.com/<%= property.image1 %>">
		             </div>
		          	<h3><%= property.title %></h3>
		          	<p><%- property.description %></p>
		         </a>
	        </div>
	    <% }); %>
	</div>
</section>
<% include ../full-partials/footer %>