
/* Commit for Github */

.container {
	&.admin {
		font-family: arial;
		padding-top: 5rem;
		h3 {
			margin-bottom: 2rem;
		}
		input {
			border-radius: 3px;
		}
		.image-upload {
			position: relative;
			input {
				width: 80%;
			}
			.preview-image {
				display: none;
			}
			.fa-check-circle {
				position: absolute;
			    right: 0;
			    top: 13px;
			    color: green;
			}
		}
	}
}
