// Navigation

.alerts {
    border-radius: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 40;
}

.alerts {
    .alert {
        &.alert-success {
            color: $cream;
            background-color: $navy;
            border: none;
            border-radius: inherit;
        }

        .close {
            color: $cream;
            text-shadow: none;
        }
    }
}