/* Commit for Github */
.login, .error {
    // background: $cream;
    min-height: calc(100% - 400px);
    padding: 3rem 0;
    section {
        &:first-of-type {
            margin-top: 0;
        }
    }

    .error--logo {
        display: flex;
        margin: 0 auto;
        width: 400px;
    }
    .login-form {
        background: white;
        padding: 2rem 1rem;
    }
}

.admin {
    padding: 3rem 0;
    hr {
        border: 1px solid $navy;
        margin: 2rem 0;
    }
    .admin-tools {
        margin: 3rem 0;
    }
}

.eachImage {
    
    
    img {
        max-height: 100px;
        width: auto;
       
    }
}

.image-upload {
    margin: 0 0 2rem 0;
    #GI-clone {
        display: none;
    }
    img {
         max-width: 100%;
         margin: 1rem 0;
    }
}

progress {
    width: 100%;
    display: none;
    color: $navy;

    // border: $navy;
}

main {
    &.login {
        min-height: calc(100% - 363px);
    }
}