.btn {
    background: $gold;
    color: white;
}

a {
    color: $blue;
    &.logo {
        position: absolute;
    }
}

.preview-image {
    max-width: 300px;
}

section {
    padding: 2rem;
    color: #272727;
    position: relative;
    p, li, span, textarea {
        font-weight: 300;
        line-height: 34px;
    }
    b {
        span {
            font-weight: bold;
        }
    }
}

.custom-progress {
    width: 100%;
    display: none;
}

.center {
    margin: 0 auto
}

.navbar-nav {
    margin-left: auto;
    &.navbar-right {
        li {
            padding: 10px 0;
        }
        img {
            max-width: 50px;
            border-radius: 100%;
            float: left;
        }
        a {
            float:left;
        }
    }
    .nav-link {
        color: white;
    }
    .nav-item {
        margin-right: 1rem;
    }
}

footer {
    color: #484848;
    background: white;
    position: relative;
    z-index: 20;

    section {
        color: 484848;

        a {
            color: 484848;
        }

        ul {
            list-style: none;
            border-top: 1px solid grey;
            padding: 2rem 0;

            li {
                margin-bottom: 0.5rem;
                a {
                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }

    .mail-chimp {
        input {
            &[type="email"] {
                border-radius: 5px 0 0 5px;
                width: 83%;
                display: inline-block;
                margin: 0;
            }
        }

        button {
            background: $gold;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0 5px 5px 0;
            display: inline-block;
            padding: 1px 0.4rem;
            border-bottom: 1px solid $gold;
            width: 15%;
            position: relative;
            left: -5px;
            cursor: pointer;
        }

        .response {
            color: grey;
            font-size: 12px;
        }
    }
}

body {

}

h1 {
    display: none;
}


.main {
    text-align: center;
    height: 100%;
    overflow-x: show;
    h3 {
        color: $blue;
    }

    img {
        width: 300px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-right: 1rem;
}

.btn-primary {
    background: $blue;
    border: 1px solid $blue;
}

.mailchimp {
    width: 380px;
    margin: 0 auto;
    background: white;
    z-index: 2;
    position: relative;

    h3 {
    	margin: 0;
    	font-size: 16px;
    	margin-bottom: 1rem;
    }

    input[type="email"] {
        width: 70%;
        display: inline-block;
        &:focus {
            box-shadow: none;
            border-bottom: 1px solid $blue;
        }
    }

    button {
        background: #0E233A;
        color: white;
        font-weight: normal;
        border: none;
        border-radius: 5px;
        display: inline-block;
        padding: 7px 0.4rem;
        width: 20%;
        position: relative;
        left: 0;
        cursor: pointer;
    }

    .response {
        color: grey;
        font-size: 12px;
    }
}

@include media-breakpoint-up(lg) {
    .main {
        padding: 0;
    }
}