.btn {
    background: $gold;
    color: white;
}

a {
    color: $navy;
}

.preview-image {
    max-width: 300px;
}

section {
    &:first-of-type {
        // margin-top: 58px;
    }
}

section {
    padding: 2rem;
    color: #272727;
    position: relative;
    &.light {
        background: white;
    }
    p, li, span, textarea {
        font-weight: 300;
        line-height: 34px;
    }
    b {
        span {
            font-weight: bold;
        }
    }
}

.main-content-container {
    .admin-tools {
        position: absolute;
        z-index: 5;
        top: 10%;
    }
}

.page--content {
    a {
        background: white;
        padding: 0;
        &:hover {
            text-decoration: none;    
        }
        
        .desc {
            padding: 0 1rem;
        }
        img {
            width: 100%;
        }
    }
}

.prop--heading {
    background-size: cover;
    background-position: 0 50%;
    height: 600px;
    position: relative;
    div {
        height: 100%;
        position: relative;
    }
    h2 {
        position: absolute;
        bottom: -40px;
        color: white;
        background: $navy;
        padding: 1.5rem 2rem;
        font-size: 4rem;
    }
}

.dev--desc {
    background: #f7f7f7;
}

.prop--desc {
    background: white;
}



.custom-progress {
    width: 100%;
    display: none;
}

.center {
    margin: 0 auto
}




h1 {
    display: none;
}

.main {
    height: 100%;
    overflow-x: show;
    h3 {
        color: $blue;
    }
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border: none;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0 1rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 1rem 1rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
}

.btn-primary {
    background: $blue;
    border: 1px solid $blue;
}

.mailchimp {
    width: 380px;
    margin: 0 auto;
    background: white;
    z-index: 2;
    position: relative;

    h3 {
    	margin: 0;
    	font-size: 16px;
    	margin-bottom: 1rem;
    }

    input[type="email"] {
        width: 70%;
        display: inline-block;
        &:focus {
            box-shadow: none;
            border-bottom: 1px solid $blue;
        }
    }

    button {
        background: #0E233A;
        color: white;
        font-weight: normal;
        border: none;
        border-radius: 5px;
        display: inline-block;
        padding: 7px 0.4rem;
        width: 20%;
        position: relative;
        left: 0;
        cursor: pointer;
    }

    .response {
        color: grey;
        font-size: 12px;
    }
}

.pull-right {
    margin-left: auto;
}

@include media-breakpoint-up(lg) {
    .main {
        padding: 0;
    }
}

.kb {
    img {
         width: 50px;
         fill: $white;
    }
}