header {
    height: 58px;
}


nav {
    &.animated {
        background: $navy;
        .logo {
            width: 56px;
        }
    }
    .dropdown-menu-right {
        right: 0; 
        left: auto;
    }
}


#fake-nav {
    height: 56px;
    width: 100%;
    display: none;
}

.logo {
    height: 58px;
    width: 58px;
    margin: 0 auto;
}

.navbar {
    z-index: 10;
    background: transparent;
    position: absolute;
    width: 100%;
    .container {
        position: relative;
    }
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%
    }
    .country {
        position: absolute;
        left: 7%;
        top: 15px;
        ul {
            li {
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
    .navbar-brand {
        background: $blue;
        position: absolute;
        top: 0;
        img {
            width: 100px;
        }
    }
}

.navbar-nav {
    margin-left: auto;
    &.navbar-right {
        li {
            padding: 10px 0;
        }
        img {
            max-width: 50px;
            border-radius: 100%;
            float: left;
        }
        a {
            float:left;
        }
    }
}

// Mobile Menu

.fsv--nav {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: $navy;
    top: 0;
    overflow: scroll;
    min-height: 58px;
    padding: 0;

    &.active {
        // height: 100%;
    }

    .navbar-collapse {
        padding: 1rem;
    }

    .fsv--menu__button {
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        left: 1rem;
        position: absolute;
        top: 1rem;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 9px;
            }

            &:nth-child(4) {
                top: 18px;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }

    }
}

footer {
    color: white;
    background: $navy;
    position: relative;
    z-index: 20;

    h4 {
        color: $white;
    }

    section {

        a {
            color: $white;
        }

        ul {
            list-style: none;
            border-top: 1px solid grey;
            padding: 2rem 0;

            li {
                margin-bottom: 0.5rem;
                a {
                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }

    .mail-chimp {
        input {
            &[type="email"] {
                border-radius: 5px 0 0 5px;
                width: 83%;
                display: inline-block;
                margin: 0;
            }
        }

        button {
            background: $gold;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0 5px 5px 0;
            display: inline-block;
            padding: 1px 0.4rem;
            border-bottom: 1px solid $gold;
            width: 15%;
            position: relative;
            left: -5px;
            cursor: pointer;
        }

        .response {
            color: grey;
            font-size: 12px;
        }
    }
}

.navbar-nav {
    margin-left: auto;
    &.navbar-right {
        li {
            padding: 10px 0;
        }
        img {
            max-width: 50px;
            border-radius: 100%;
            float: left;
        }
        a {
            float:left;
        }
    }
    .nav-link {
        color: white;
    }
    .nav-item {
        margin-right: 1rem;
    }
}
