<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>FlySunVillas</title>
        <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <meta name="google-site-verification" content="TFfpLs_6KnM5EaXi-7mDzvzlvz72qvU3sBVcz6mi52s" />
    </head>
    <body>

    <header>
        <a href="/" class="logo">
            <img src="/img/fsv-logo.svg" alt="Fly Sun Villas" />
        </a>
        <div id="fake-nav"></div>
        <nav id="navbar" class="navbar navbar-expand-lg">    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
<!--                     <li class="country">
                        <ul>
                            <li><a href="/#/"><img src="/img/flags/en_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/#/"><img src="/img/flags/es_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/#/"><img src="/img/flags/fr_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/#/"><img src="/img/flags/ru_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/#/"><img src="/img/flags/gr_lan.svg" width="30" height="25" /></a></li>
                        </ul>
                    </li> -->
                     <% if (currentUser && currentUser.hash) { %>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle user-icon" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/new">Add New Property</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                    <% } else { %>
                     
                    <% } %>
                </ul>
            </div>
        </nav>
        <% if(error && error.length > 0){ %>
        <div class="alerts">
            <div class="alert alert-danger" role="alert">
                <%= error %>
                <button type="button" class="close close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alerts">
            <div class="alert alert-success" role="alert">
                <%= success %>
                <button type="button" class="close close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>
    </header>
