<% include ./partials/header %>
<% include ./partials/alerts %>
<% include ./partials/nav %>


<section class="home full-width animated fadeIn">
	<h1>Fly Sun Villas</h1>
	<img src="https://flysunvillas.s3.amazonaws.com/test-homepage.jpg" alt="Test" />
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>FIND YOUR PERFECT <span>PROPERTY</span></h2>
				<h3>Helping clients around the world secure dream real estate.</h3>
				<!-- <button class="btn btn-lg">Properties</button> -->
			</div>
		</div>
	</div>
</section>

<% include ./partials/footer %>