<% include ./admin-partials/header %>

<section>
<div class="container">
    <div class="row">
		<div class="col-4 offset-4">
		<form action="/register" method="post">
			<div class="form-group">
				<label>This user will be responsible for all entries created, and can only delete their own entries.</label>
		    	<input class="form-control" type="text" name="username" placeholder="username">
		    </div>
		    <div class="form-group">
		    	<input  class="form-control" type="password" name="password" placeholder="password">
			</div>
		    <button type="submit" class="btn blue">Sign Up</button>
		</form>
		</div>
	</div>
</div>
</section>
<% include ./admin-partials/footer %> 