body {
  background: #ececec; }

.admin {
  font-family: arial; }
  .admin h3 {
    margin-bottom: 2rem; }
  .admin input {
    border-radius: 3px; }
  .admin .image-upload {
    position: relative; }
    .admin .image-upload input {
      width: 80%; }
    .admin .image-upload .preview-image {
      display: none; }
    .admin .image-upload .fa-check-circle {
      position: absolute;
      right: 0;
      top: 13px;
      color: green; }
