body {
  background: #ececec; }

/* Commit for Github */
.container.admin {
  font-family: arial;
  padding-top: 5rem; }
  .container.admin h3 {
    margin-bottom: 2rem; }
  .container.admin input {
    border-radius: 3px; }
  .container.admin .image-upload {
    position: relative; }
    .container.admin .image-upload input {
      width: 80%; }
    .container.admin .image-upload .preview-image {
      display: none; }
    .container.admin .image-upload .fa-check-circle {
      position: absolute;
      right: 0;
      top: 13px;
      color: green; }
