<% include ../full-partials/header-top %>
<!--                     <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/en/#about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/en/properties/">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/en/#locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/en/#team">Our Team</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/en/#contact">Contact</a>
                    </li> -->
                   <!--  <li class="country">
                        <ul>
                            <li><a href="/en/"><img src="/img/flags/en_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/es/"><img src="/img/flags/es_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/fr/"><img src="/img/flags/fr_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/ru/"><img src="/img/flags/ru_lan.svg" width="30" height="25" /></a></li>
                            <li><a href="/gr/"><img src="/img/flags/gr_lan.svg" width="30" height="25" /></a></li>
                        </ul>
                    </li> -->
                     <% if (currentUser && currentUser.hash) { %>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle user-icon" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/new">Add New Property</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                      <% } else { %>
                    <% } %>
                </ul>
            </div>
        </nav>
        <% if(error && error.length > 0){ %>
        <div class="alerts">
            <div class="alert alert-danger" role="alert">
                <%= error %>
                <button type="button" class="close close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alerts">
            <div class="alert alert-success" role="alert">
                <%= success %>
                <button type="button" class="close close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>