<% include ../header %>
<section class="main">
	<h1>Fly Sun Villas</h1>
	<img src="/img/fly-sun-villas.png" alt="Fly Sun Villas">
	<div class="container">
		<div class="row">
			All Greek Properties
		</div>
	</div>
</section>
<% include ../../full-partials/footer %>