<% include ../partials/header %>
<% include ../partials/alerts %>
<% include ../partials/nav %>


<main id="main" class="main-content-container">

<section class="page--content">
	<div class="container">
		<div class="row">
            <% props.forEach(function(item) { %>
				<a href="/properties/<%= item.slug %>" class="col-sm-12 col-md-4 each-prop">
                    <div class="prop">
                        <img src="<%= item.mImage %>" alt="<%= item.title %>" />
                        <div class="desc">    
                            <h4><%= item.location %></h4>
                        </div>
                    </div>
                </a>
            <% }); %>
		</div>
	</div>
</section>
<% include ../partials/footer %>