<% include ../partials/header %>
<% include ../partials/alerts %>
<% include ../partials/nav %>

<main id="admin">

<section class="admin main">
    <div class="container">
        
        <form id="page" action="/properties/new" method="POST">
            
            <div class="col-sm-12 col-md-8 offset-md-2">
                
                <h3>Create A New Property</h3>
                
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" name="title" placeholder="Example of a title" >
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="form-group">
                            <label>URL</label>
                            <div class="form--input__url">
                                <input id="domain-url" class="form-control" type="text" name="slug" placeholder="enter-a-nice-url"  />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            <label>Location</label>
                            <input class="form-control" type="text" name="location" placeholder="e.g. Alicante, Spain" >
                            <!-- hidden input for  -->
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="form--input__url">
                                <select class="form-control" type="text" name="status" >
                                    <option value="new" default>New</option>
                                    <option value="resale">Re-Sale</option>
                                    <option value="sold">Sold</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-12">
                        <div class="image-upload" class="form-group">
                            <label>Main Property Image</label>
                            <input type="hidden" name="mImage" />
                            <input type="file" class="form-control file-input" accept=".jpg,.png" placeholder="Upload Image">
                            <img class="previewImage" src="" />
                            <progress class="progress" value="0"></progress>
                        </div>
                    </div>
                </div>


                <hr />

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Development Description</label>
                            <textarea class="form-control" type="text" name="devDesc" placeholder="Describe the development in approx 100 words" ></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Property Description</label>
                            <textarea class="form-control" type="text" name="propDesc" placeholder="Describe this property in approx 100 words" ></textarea>
                        </div>
                    </div>
                </div>


                <hr />

                <div class="row">
                    <div class="col-12">
                        <div id="GI-cont" class="image-upload" class="form-group">
                            <label>Gallery Images</label>
                            <div id="GI-clone" class="eachImage">
                                <input type="hidden" data-name="gImage" />
                                <input type="file" class="form-control file-input" accept=".jpg,.png" class=""  placeholder="Upload Image">
                                <img class="previewImage" src="" />
                                <progress class="progress" value="0"></progress>
                                <a href="#" class="dlt-gi">Delete Image</a>
                            </div>                            
                        </div>
                        <a href="#" id="addGIBtn" class="btn btn-admin">Add new gallery image</a>
                    </div>
                </div>

                <hr />

                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            <label>Beds</label>
                            <input class="form-control" type="text" name="bed" placeholder="e.g. 3" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Baths</label>
                            <input class="form-control" type="text" name="bath" placeholder="e.g. 2" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>House Built Area</label>
                            <input class="form-control" type="text" name="hba" placeholder="e.g. 3" >
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            <label>Basement</label>
                            <input class="form-control" type="text" name="bsmnt" placeholder="e.g. 3" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Terraces</label>
                            <input class="form-control" type="text" name="ter" placeholder="e.g. 1" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Swimming Pool</label>
                            <input class="form-control" type="text" name="swim" placeholder="Yes/No" >
                        </div>
                    </div>

                </div>  

                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            <label>Total</label>
                            <input class="form-control" type="text" name="total" placeholder="e.g. xxxm2" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Plot Area</label>
                            <input class="form-control" type="text" name="plot" placeholder="e.g. 120m2" >
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" type="text" name="price" placeholder="e.g. $$$" >
                        </div>
                    </div>

                </div>


                <hr />

                <div class="admin-tools">
                    <div class="container">
                        <div class="row">
                            <button type="submit" id="formSbmt" class="btn btn-primary">Create page</button>
                             <a id="goBack" class="btn btn-delete pull-right">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
<% include ../partials/footer %>